.mainClass{
    color: #61dafb;
}
.footer{
    background-color: rgba(0,0,0,0.4);
    height: 3rem;
    line-height: 3rem;
    color: rgba(255,255,255,0.3);
    font-weight: 400;
    font-size: 1.2rem;
    font-family: -apple-system;
}