.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 92px 15fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
            "avatarArea messageArea timeArea";
}
.avatarArea {
    align-self: end;
    grid-area: avatarArea;
    align-self: end;
}

.avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px;
}

.messageArea {
    grid-area: messageArea;
    background-color: #082103;
    border: black;
    border-radius: 15px 0px 0px 0px;
}
.angle {
    width:55px;
    height: 35px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0) 35px, rgba(255,255,255,0.3) 0);
}
.messageText:before{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    left: -19px;
    bottom: -16px;
    border-style: solid;
    border-width: 0 0 20px 20px ;
    border-color: transparent transparent #082103 transparent;
}
.messageText:after{
    position:absolute;
    content: '';
    width: 30px;
    height: 40px;
    bottom: -16px;
    left: -30px;
    border-radius: 100% 35% 80% 0%;
    background-color: white;
    z-index: 80;
}

.messageText{
    position: relative;
    color: #c6d3c1;
    padding: 5px 5px 1px 15px;

}
.name{
    color: #88879f;
    padding: 5px 5px 1px 15px;
}
.timeArea {
    display: flex;
    align-items: flex-end;
    background-color: #082103;
    color: #30482c;
    border-radius: 0px 15px 15px 0px;
    padding-bottom: 5px;
    padding-right: 5px
}
.HW1{
    background-color: white;
}