.container {
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 80px 15fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
            "avatarArea messageArea timeArea";
}
.avatarArea {
    align-self: end;
    grid-area: avatarArea;
    align-self: end;
}
.avatar{
    height: 60px;
    width: 60px;
    border: solid;
    border-radius: 50%;
}

.messageArea {
    grid-area: messageArea;
    background-color: #282c34;
    border: black;
    border-radius: 15px 0px 0px 0px;
;
}
.messageText{
    color: whitesmoke;
    padding-left: 15px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-top: 5px;

}
.name{
    color: crimson;
    padding-left: 15px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-top: 5px;
}
.timeArea {
    display: flex;
    align-items: flex-end;
    background-color: #282c34;
    color: green;
    border-radius: 0px 15px 15px 0px;
    padding-bottom: 5px;
    padding-right: 5px
}
