.someClass {
    border: 1px solid black;
}

.error {
    border: 3px solid red;
}
.main{
    width: 300px;
    margin: 0 auto;
}
.cssSelector {
    background: linear-gradient(220deg, #4b72ba, #22c3e3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 41s ease infinite;
    -moz-animation: AnimationName 41s ease infinite;
    animation: AnimationName 41s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@keyframes AnimationName {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}